<% provide(:example, "Contact ") %>
<h1 id="sample_header_contact"> <%= yield(:example) %>&#x1F4DE;</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
  Or HMUP @ +1-202-555-6969 &#x1F48B;&#x1F48B;&#x1F48B;
</p>
